.container {
    max-width: $container;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: $mobile-l) {
        padding: 0 8px;
    }
}

// .section {
//     margin-top: 67px;
//     @media (max-width: $tablet) {
//         margin-top: 40px;
//     }
// }