.pagination {
    justify-content: center;
    margin: 55px 0;

    @media (max-width: $tablet) {
        margin: 16px 0 32px;
    }

    button {
        &:hover {
            path {
                stroke: $accent;
            }
        }
        svg {
            width: 10px;

            @media (max-width: $tablet) {
                // width: 15px;
            }
        }
    }
}

.pagination__list {
    margin: 0 50px;

    @media (max-width: $tablet) {
        margin: 0 20px;
    }

    li {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        border: 1px solid $main;
        border-radius: $radius;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (max-width: $mobile-l) {
            width: 16px;
            height: 16px;
            font-size: 10px;
            line-height: 14px;
        }

        &._active {
            background: $accent;
            color: #fff;
            border: 1px solid transparent;
        }
        &:hover {
            background: $accent;
            color: #fff;
            border: 1px solid transparent;
        }
        &:not(:last-child) {
            margin-right: 30px;

            @media (max-width: $tablet) {
                margin-right: 10px;
            }
        }
    }
}